.env
venv/
.venv/
__pycache__
__pycache__/
.cache/
.litellm_cache/
.costly/
.pytest_cache/
tests/test_experiments/
tests/test_results/
tests/test_analysis/
.logs/*
foo*
solib/data/math/*_full.json
experiments/results/*
*.log
solib.egg-info

!/experiments/results/init_exp_2025-02-09_04-40-15