.env
venv/
.venv/
__pycache__
__pycache__/
.cache/
.litellm_cache/
.costly/
.pytest_cache/
tests/test_experiments/
tests/test_results/
.logs/*
**/init_exp_*
foo*
solib/data/math/*_full.json
*.log
solib.egg-info
