<question>{{ question }}</question>
<your_answer>{{ answer_case_short }}</your_answer>
<opponent_answer>{{ answer_opposite_short }}</opponent_answer>

Here is the transcript so far:
<transcript>
{{ context }}
</transcript>