<question>{{ question }}</question>
{% if source_text %}
<source_text>
{{ source_text }}
</source_text>
You can quote confirm snippets from the source text by enclosing them in <quote>...</quote> tags.
{% endif %}
<your_answer>{{ answer_case_short }}</your_answer>
<opponent_answer>{{ answer_opposite_short }}</opponent_answer>

Here is the transcript so far:
<transcript>
{{ context }}
</transcript>