Question: {{ question }}

{% include 'tool_use/tool_trust.jinja' %}

Context: {{ context }}

Based on the information and arguments above, give a probability between 0 and 1 that you think answer {{ answer_case }} is correct.

You must give your answer in the form

{'prob': (some float between 0 and 1)}