{{ question }}

{{(
    "I want you to give me your most informed judgment on which answer "
    "is correct, based on any information I provide. Your response "
    "should simply be the option symbol of one of the items from "
    "POSSIBLE ANSWERS, i.e. " ~ answer_cases_short ~ " and nothing else. "
)}}

{% include 'tool_use/tool_trust.jinja'%}

{{ context }}